.App {
  text-align: center;
}

* {
  background-color: #03001C;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
  cursor: pointer;
}

.body {
  text-align: left;
  padding-left: 10px;
  line-height: 35px;
  font-size: 18px;
  display: grid;
  Grid-template-columns: 1fr 1fr;
}

.button {
  background-color: transparent;
  color: rgb(213, 213, 195);
  text-decoration: underline;
  border: none;
  font-size: 20px;
  margin-bottom: 20px;
}

.left-side, .right-side {
  margin-left: 31px;
}

.food-section {
  padding-bottom: 30px;
}

.section-description {
  /* padding-left: 15px; */
  padding-right: 15px;
  margin: 0 73px 0 0px;
}

.box1 {
  display: grid;
  Grid-template-columns: 3fr 1fr;
}

.price {
  text-align: right;
  padding-right: 50px;
  font-style: italic;
}

.centered-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 18px;
  line-height: 35px;
}

.box2 {
  display: flex;
  justify-content: space-between;
  padding: 0 400px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 428px) {
/* iphone */
.body {
  Grid-template-columns: 1fr;
}

.box2 {
  padding: 0 20px;
  text-align: left;
}

.price {
   padding-right: 0px;
}
}